<p>
    <%= @blogtext.title %> 
</p>
<p>
    <%= @blogtext.content %>
</p>
<p>
    <%= @user.name %>
</p>
<% if @user.id == @current_user.id %>
    <p>
        <%= link_to("消去", "/blogtexts/#{@blogtext.id}/destroy", {method: "post"}) %>
    </p>
<% end %>


