<div class="top-container"> 
    <div class="top-title">
        <h1>Wellcome Blog</h1>
    </div>
    <div class="top-subtitle">
        <h2>日常のいろいろなことを書き込もう！</h2>
    </div>
    <a href="/users/new" class="btn-message">sign up!</a>
</div>